# Python
__pycache__/
*.pyc
.venv/
venv/

# Docker/Build
dist/
build/
*.egg-info
.DS_Store

# Terraform (רק מתוך infra/)
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/terraform.tfstate.backup
infra/.terraform.lock.hcl

# Root state (לביטחון)
*.tfstate
*.tfstate.*

# Swap/IDE
*.swp
.vscode/
.idea/

# Node (אם יהיה)
node_modules/

# מקומי
Targets/
